@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.CustomerName</h2>
<ul >
    <li>Membership Type: @Model.MemberShipType.Name</li>

            @if (Model.BirthDate != null)
            {
              <li>Birth Date:@Model.BirthDate.Value.ToShortDateString()</li> 
            }
        
   
</ul>

